/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f2937;
  }

  li {
    float: left;
    display: inline;
  }
  
  li a {
    display: block;
    color: #e5e7eb ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;

  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    font-size: 24px;
    color: #f9faf8;
}

/* Header section */

.container{
    background-color: #1f2937;
    display: block;
    margin-bottom: 100px;
    z-index: 1;

#h1c {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

#p1c {
font-size: 18px;
color: #e5e7eb;
}

/* Gallery */

.container1 {
    margin: 5px;
    float: left;
    margin-top: 50px;
    background-color: #e5e7eb;
    display: block;
    z-index: 1;
  }
  
  .container1 .img {
    width: 100%;
    height: auto;
    margin-top: 100cm;
  }

  /* Quote */

  .container2 {
    width: 800px;
    padding: 50px;
    margin: 25px;
    height: 350px;
    align-items: center;
    display: block;
    background-color: #1f2937;
    color: #e5e7eb;
    z-index: 1;
    
  }




