body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

section {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.margin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e5edf9;
  z-index: 1;
  border-bottom: 1px black solid;
}

#header-img {
  width: 85px;
  height: 75px;
}

#nav-bar a{
  margin: 0;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: .5rem;
  margin-top: 4rem;
}

p {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: .8rem;
}

.btn  {
  color: white;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  font-size: .9rem;
}

.main {
  padding-bottom: 4rem;
}

.main img {
  width: 22.5rem;
  height: 20rem;
  float: left;
  margin-right: 8.5rem;
}

#about {
  background: #1f2937;
}

#about span{
  color: #e5edf9;
  margin-left: .7rem;
}

#about h1 {
  margin-top: 6rem;
}

#about p {
  font-size: 1.2rem;
}

#about-text {
  max-width: 600px;
  padding-bottom: 6rem;
  float: left;
}

.pics {
  max-width: 900px;
}

.responsive-image {
  max-width: 85%;
  padding-left: 7rem;
}

.cell img {
  display: block;
}

.cell {
  margin: .5rem;
  margin-right: -2.5rem;
}

#contact {
  margin-top: 5rem;
  background-color: #1f2937;
}

/* responsive */

@media screen and (max-width: 809px) {
  .cell {
    margin-right: 0px;
  }
}

@media (max-width: 1362px) {
  .main img {
    display: none;
  }
  
  .about-img img {
    display: none;
  }
}

@media screen and (max-width: 600px){
  .responsive-image {
    max-width: 60%;
    height: auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  
  .cell {
    margin: 0 auto;
  }
}

@media screen and (min-width: 601px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .cell {
    flex: 0 0 calc(50% - 100px);
  }
}




